.tx-workspacepreview-previewlink-label {
    padding-left: 20px;
}

.tx-workspacepreview-previewlink {
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 26px;
    border: none!important;
    border-radius: 0;
}